body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}

h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
}

/* -- HEADER -- */
.titulo {
  display: block;
  margin: 50px auto;
  min-width: 15%;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0px;
  margin: 0px;
}

.menu a {
  display: inline-block;
  background-color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid transparent;
  color: black;
  font-weight: bold;
}

nav ul {
  list-style: none;
}
/* FIM DO HEADER */

/* -- ARTICLE --*/
.sobre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 70px auto 0px auto;
  gap: 0px 40px;
  min-width: 1000px;
  max-width: 1000px;
  background-color: white;
  grid-template-rows: 60px 70px 100px 1fr;
  position: relative;
}

.imagem-bike {
  object-fit: cover;
  height: 100%;
}

.sobre h1 {
  margin: 0px;
  place-self: start end;
  grid-row: 2;
  position: relative;
  font-size: 2rem;
}

.sobre p {
  margin: 0px;
  grid-row: 3;
  grid-column: 1;
  place-self: start;
  text-align: right;
}

.sobre a {
  margin: 0px;
  grid-row: 4;
  grid-column: 1;
  place-self: start end;
  background-color: #ee2211;
  padding: 15px 35px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.imagem-bike {
  grid-row: 1 / -1;
  grid-column: 2;
  width: 100%;
}
/* FIM DO ARTICLE*/

/* --SECTION -- */
.descricao-geral {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 480px;
  margin: auto;
  gap: 0px 40px;
  background-image: url("../img/onda.svg");
  background-size: 900px;
  background-position: center;
}

.descricao-geral h2 {
  color: #c6c6c6;
  font-size: 4rem;
  text-transform: uppercase;
  align-self: center;
  text-align: end;
}

.vantagens {
  display: grid;
  background-color: white;

  padding: 25px;
}
.vantagens ul {
  list-style: none;
  padding: 15px 20px;
}

.descricao-vantagens-1,
.descricao-vantagens-2,
.descricao-vantagens-3 {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 45px 75px;
  margin: 0px;
}

.vantagens p {
  margin: 0px;
}

.icon1,
.icon2,
.icon3 {
  align-self: center;
}

.sub1,
.sub2,
.sub3 {
  align-self: center;
}

.text1,
.text2,
.text3 {
  grid-column: 2/3;
  align-self: start;
}
/* FIM DO SECTION*/

footer {
  position: relative;
  padding: 5px;
  background-color: #ffffff;
  text-align: center;
  margin-top: 100px;
}

/*PSEUDO CLASSES*/
.menu a:hover {
  border: 2px solid red;
}

.sobre a:hover {
  background-color: #900;
  border-color: #900;
}

.vantagens ul:hover {
  border-left: 4px solid red;
}

.vantagens ul:nth-child(odd) {
  background-color: #f7f7f7;
}

/*PSEUDO ELEMENTOS*/
.sobre::after {
  content: "";
  display: inline-block;
  background-color: #ff0000;
  width: 70px;
  height: 5px;
  position: absolute;
  left: 485px;
  top: 30px;
}

/*RESPONSIVIDADE*/

@media (max-width: 1000px) {
  .titulo {
    margin-bottom: 20px;
  }
  .menu {
    display: flex;
    font-size: 0.8rem;
    gap: 5px;
  }

  .menu a {
    padding: 10px 15px;
  }

  .sobre {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: fit-content;
  }

  .imagem-bike {
    order: 2;
  }

  img {
    object-fit: cover;
  }

  #sobre-bikecraft {
    align-self: center;
    margin-top: 10px;
    margin-left: 5px;
  }

  .sobre p {
    text-align: center;
    margin-left: 5px;
  }
  .sobre a {
    align-self: center;
    font-size: 0.8rem;
    margin-left: 5px;
  }

  .descricao-geral {
    grid-template-columns: 1fr;
    width: 100%;
  }
  #sobre-vantagens {
    text-align: center;
    font-size: 3rem;
  }

  .sobre::after {
    display: none;
  }

  .vantagens {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
}

@media (max-width: 600px) {
  .sobre a {
    align-self: start;
    padding: 13px 30px;
    text-align: center;
  }

  .sobre p {
    text-align: start;
  }

  #sobre-bikecraft {
    align-self: start;
  }

  #sobre-vantagens {
    text-align: center;
    font-size: 2rem;
  }
}
